
  
  main {
    width: 30%;
    margin: auto;
    padding: 1em 8vw;
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 20px #ddd;
    position: relative; 
    z-index: 1; 
  }
  
  h1 {
    text-align: center;
    color: gray;
    border-bottom: 1px solid #C4CBCE;
    padding-bottom: .2em;
  }
  
  form > div {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative; 
    z-index: 2;
    
  }
  
  form img{
    width: 200px;
    border-radius: 50%;
    border: 6px solid #AAA;
  }
  
  form div:first-child{
    align-items: center;
  }
  
  form div:first-child input{
    display: none;
  }
  
  
  form input{
    padding: 8px 20px;
    border: 1px solid #AAA;
    border-radius: 3px;
  }
  
  form button{
    padding: 8px 20px;
    width: 100%;
    color: white;
    border-radius: 3px;
  }

  .titulo_libro{

    color:  rgba(63, 44, 44, 0.579);
  }

  .autor_libro{

    color:  rgba(63, 44, 44, 0.579);
  }

  .create_button{

    margin-left: 1px;
  }

  #save_button{

    background-color:  rgba(63, 44, 44, 0.579);
  }
 
  #footer_jjw{

    margin-top: 15px;
    text-align: center;
    color: #9c9999;
  }


  
  #autores_select_list{

    padding: 8px 20px;
    border: 1px solid #AAA;
    border-radius: 3px;
    
  }
  